/* This is code exclusively for the Portfolio page. */

.portfolio-leftcolumn {
	position: relative;
	float: left;
	width: 290px;
	height: 200px;
	margin: 20px 19.9px 20px 0px;
}

.portfolio-rightcolumn {
	position: relative;
	float: left;
	width: 290px;
	height: 200px;
	margin: 20px 0px 20px 19.9px;
}

.portfolio-img {
	width:  290px;
	height: 200px;
}

.portfolio-text {
	float: top;
	position: relative;
	bottom: 70px;
	width: 290px;
	padding: 15px 0px 15px 0px;
	background: #4aaaa5;
	font-family: 'Georgia', Times, Times New Roman, serif;
	color: #ffffff;
	text-align: center;
}